/* Reseting the default margin and padding of the body */
body {
  margin: 0;
  padding: 0;
}

/* Applying a background color to the body */
body {
  display: flex;
  justify-content: center; /* This centers the child elements horizontally */
  align-items: flex-start; /* This centers the child elements vertically */
  height: 100vh; /* This makes the body take up the full viewport height */
  margin: 0;
  padding: 0;
  background-color: #0D7E70;
  font-family: Tailwind SC;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/*This code is specific to the hyperlinks*/
a {
  color: inherit; /* This will make the link color the same as the text around it */
  text-decoration: none; /* This will remove the underline */
}

a:hover, a:focus, a:active {
  color: inherit; /* This will make the link color the same as the text around it, even when hovered, focused, or active */
  text-decoration: none; /* This will remove the underline when hovered, focused, or active */
}
/* End of hyperlink changes*/

/* This is for the Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 18%; 
  margin-right: 30px;
  flex-shrink: 0;
  height: 100vh;
}

.sidebarTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border: 3.5px solid #FBD861;
  border-radius: 15px;
  height: 40%;
  background-image: url('logo.png');
  background-size: cover; /* This will scale the image to cover the entire element */
  background-position: center 10%; /* This will center the image in the element */
}

#shareBtn {
  background-color: #FBD861;
  border: none;
  border-radius: 50px;
  padding: 5px 15px 5px 25px;
  background-image: url('twitterlogo.png');
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-position: 10px center; /* This positions the image to the left of the button */
  background-size: 13px; /* Adjust size as needed */
  font-size: 15px;
}

.sidebarMid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  border-radius: 15px;
}

.sidebarMid p {
  background-color: #FBD861;
  margin: 10px 0px 10px 0px;
  padding: 12px 25px 12px 25px;
  border-radius: 10px;
  color: #0D7E70;
  white-space: nowrap;
}

.sidebarBot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  color: #FBD861;
  margin-top: -10px;
  font-size: 20px;
}
/* End of Sidebar */
/* This is for the collection section */
.collection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:flex-start;
  margin: 10px 0px 10px 0px;
  background-color: #D2FFBE;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  height: 100vh;
}

/* This is the code for the top of the collection section */
.col {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.colTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  margin: 40px 0px 0px 40px;
  padding: 0px;
}

.colTop h3{
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.colTop h2 {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-size: 40px;
  color: #0D7E70;
}

.colTopP {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0px 20px 0px;
  padding: 0px;

}
.colTop p {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
}

.topPvalue {
  color: #D2FFBE;
  font-size: 20px;
  background-color: #36353550;
  border-radius: 5px;
  padding: 2px;
}

/* This is the code for the colRight section */
.colRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 10px 10px 0px;
  padding: 0px;
  font-size: 12px;
}

/* End of ColTop */

.collection li {
  list-style: none;
}

.collectionNav {
  display: flex;
  position: relative;
  width: 100%;
}

.collectionNav li {
  margin-right: 20px;
}

/* This is the line that appears under the details links */
.collectionNav::after {
  content: "";
  position: absolute;
  left: 10px; /* Start the line 10px from the left edge of the .collectionMid element */
  width: calc(100% - 70px);
  bottom: -15px;
  height: 4px;
  background-color: #0D7E7050;
}

/*This is for the collectionMid section*/
.collectionMid {
display: flex;
flex-direction: row;
align-items: space-between;
position: relative;
width: 100%;
flex-wrap: wrap;
Margin: 20px 0px 20px 0px;
padding: 0px;
}

/* This is for the collectionMid section underline */
.collectionMid::after {
  content: "";
  position: absolute;
  left: 10px; 
  width: calc(100% - 70px);
  bottom: -15px;
  height: 4px;
  background-color: #0D7E7050;

}

/* Below this is for the description section */
.collectionDesc {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content:flex-start;
  width: calc(100% - 60px);
  box-sizing: border-box;
  min-height: 300px;
  padding: 10px;
  margin: 10px 30px 10px 30px;
  background-color: #0D7E7080;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
}

.description {
  color: #FBD861;
  margin-right: 4px;

}